.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .carousel-image-container {
    width: 100%;
    display: flex;
    overflow: hidden;
  }
  
  .carousel-slide {
    display: flex;
    transition: transform 0.5s ease; /* Animación de desplazamiento suave */
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
    max-height: 60vh;
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 10;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  