.catalogue{
    height: 30vh;
    width: 100%;
    background-color: #b26970;
}

.catalogueText{
    height: 30vh;
    width: 60%;
    background-color: #9c4b4c;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out; 
}
.catalogueText a{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 8rem;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.2s ease-in-out; 
}

.catalogueText:hover{
    width: 100%;
}

.catalogueText a:hover{
    text-decoration: underline;
}



